.nav {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;

}
.options{
    margin-top: 10px;
    margin-right: 10px;
}
a {
    margin: 10px;
    
}
h1 {
    color: white;
    margin: 20px;
}